.buttons{
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	background-color: #888;
}
.buttons div{
	display: inline-block;
	margin: 50px 20px 25px 20px;
}
th {
	background-color:#aaa;
	font-family:courier new;
	padding:1px 5px;
}
.btns{
	border: 1px solid #fff;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 4px 4px 4px #000;
}
#targets{
	width: 150px;
	height: 25px;
}
.loader{
	margin: 0 auto;
	text-align: center;
	display: none;
}
#result td {
border: 1px solid #888;
}
#result th {
border: 1px solid #888;
}
#result img {
	width: 75px;
}
.logo{
	display: block !important;
	margin: 0 auto !important;
	float: left;
}